In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [10]:
# Load the data
df = pd.read_csv('I:\CSE 499 Data Preprocess\Total_Acceleration_32466.csv')

# Display the first few rows of the dataframe
print(df.head())
print(df.info())

           time  seconds_elapsed        y          z        x  longitude  \
0  1.720000e+18         0.111076  4.97125  24.828749  4.59750   90.35935
1  1.720000e+18         0.121330  1.83750  13.594999  2.26625   90.35935
2  1.720000e+18         0.131584  1.03500  13.862499  1.08125   90.35935
3  1.720000e+18         0.141837  0.69125  13.365000  0.20250   90.35935
4  1.720000e+18         0.152091  0.50000  12.486250 -0.48500   90.35935

   latitude
0  23.72847
1  23.72847
2  23.72847
3  23.72847
4  23.72847
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32465 entries, 0 to 32464
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             32465 non-null  float64
 1   seconds_elapsed  32465 non-null  float64
 2   y                32465 non-null  float64
 3   z                32465 non-null  float64
 4   x                32465 non-null  float64
 5   longitude        32465 non-null  float64
 6   latitude         32465 non-null  float64
dtypes: float64(7)
memory usage: 1.7 MB
None

In [11]:
# Check for missing values in the dataset
df.isnull().sum()

time               0
seconds_elapsed    0
y                  0
z                  0
x                  0
longitude          0
latitude           0
dtype: int64

In [14]:
# Initialize the MinMaxScaler
df[['x', 'y', 'z']] = MinMaxScaler().fit_transform(df[['x', 'y', 'z']])

# Display the normalized data
df[['x', 'y', 'z']].head()

          x         y         z
0  0.885507  0.891706  1.000000
1  0.673671  0.658062  0.523514
2  0.565993  0.598229  0.534860
3  0.486143  0.572600  0.513759
4  0.423671  0.558341  0.476486

In [15]:
# Calculate statistical features for each axis(mean,standard deviation,range)
df['mean_x'] = df['x'].mean() 
df['std_x'] = df['x'].std()
df['range_x'] = df['x'].max() - df['x'].min()

df['mean_y'] = df['y'].mean()
df['std_y'] = df['y'].std()
df['range_y'] = df['y'].max() - df['y'].min()

df['mean_z'] = df['z'].mean()
df['std_z'] = df['z'].std()
df['range_z'] = df['z'].max() - df['z'].min()

# Display the extracted features
df[['mean_x', 'std_x', 'range_x', 'mean_y', 'std_y', 'range_y', 'mean_z', 'std_z', 'range_z']].head(1)

,mean_x,std_x,range_x,mean_y,std_y,range_y,mean_z,std_z,range_z
0,0.489785,0.095712,1.0,0.592144,0.103479,1.0,0.37053,0.088675,1.0

In [13]:
# Define thresholds for road conditions based on acceleration measurements
def label_road_condition(row):
    if row['z'] < 10:
        return 'bump'
    elif 0.8< row['z'] <3:
        return 'crack'
    elif row['x'] <-1.5:
        return 'pothole'
    else:
        return 'normal'

# Apply the labeling function
df['road_condition'] = df.apply(label_road_condition, axis=1)
print(df[['time', 'x', 'y', 'z','longitude','latitude', 'road_condition']].head())

           time        x        y          z  longitude  latitude  \
0  1.720000e+18  4.59750  4.97125  24.828749   90.35935  23.72847
1  1.720000e+18  2.26625  1.83750  13.594999   90.35935  23.72847
2  1.720000e+18  1.08125  1.03500  13.862499   90.35935  23.72847
3  1.720000e+18  0.20250  0.69125  13.365000   90.35935  23.72847
4  1.720000e+18 -0.48500  0.50000  12.486250   90.35935  23.72847

  road_condition
0         normal
1         normal
2         normal
3         normal
4         normal